#recipe-image{
	width: 100%;
}

.thumbnail{
	padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-recipe, #delete-comment{
	display: inline
}

.row.content {height: 1500px}

.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

@media screen and (max-width: 767px) {
	.sidenav {
	  height: auto;
	  padding: 15px;
	}
	.row.content {height: auto;} 
}